/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login {
  border-right: 1px solid lightgrey;
  padding: 0px 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 12px;
}

.login-signup {
  position: absolute;
  right: 25px;
}

.signup {
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 12px;

}

#gbl-header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
}

#gbl-header {
  position: relative;
  min-width: 1030px;
  min-height: 99px;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

#gbl-header .top-bar {
  position: relative;
  height: 78px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#gbl-footer, #gbl-header {
  min-width: initial;
}

#gbl-footer {
  color: #999;
  font-size: 14px;
  min-width: 1030px;
  line-height: 21px;
  background: #404040;
  position: absolute;
  height: 60px;
  bottom: 0;
  display: block;
  z-index: 1;
  padding-top: 30px;

}

.hero {
  min-height: 650px;
  max-height: 700px;
  height: 77%;
  width: 100%;
  min-width: 1030px;
  z-index: 0;
}

.projects {
  background: #f6f6f6;
  padding: 26px 0 60px;
  border-bottom: 1px solid #bec6d1;
  position: relative;
  z-index: 0;
  min-width: 1030px;
  border-top: 1px solid rgba(0, 0, 0, .25);
  overflow-x: hidden;
}

#login-wrapper {

}

.login-form {
  padding-top: 160px;
  padding-left: 60px;
  background: rgba(34, 34, 34, .25);
  height: 845px;
  width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 0;
}

.parallax {
  position: relative;
  perspective: 300px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div {
  display: block;
}

.parallax_layer-base {
  transform: translateZ(0);
  z-index: -1;
}

.parallax_layer-back {
  transform: translateZ(-300px) scale(2.2);
  z-index: -2;
  background-image: url(craft_leaves.jpg);
  background-size: cover;
  height: 940px;
  min-width: 1030px;
}
