/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.avatar-large {
  background-image: image-url('user/user.SQUARE2.png');
  height: 116px;
  width: 116px;
  border-radius: 58px;
  background-size: cover;
}

#gbl-header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
}

#gbl-header {
  position: relative;
  min-width: 1030px;
  min-height: 99px;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

#gbl-header .top-bar {
  position: relative;
  height: 78px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.avatar {
  background-image: image-url('user/user.TINY.png');
  background-size: cover;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 80px;
}

#gbl-footer, #gbl-header {
  min-width: initial;
}

.profile_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 222px;
}

#gbl-footer {
  color: #999;
  font-size: 14px;
  width: 100%;
  min-width: 1030px;
  line-height: 21px;
  background: #404040;
  position: absolute;
  display: block;
  z-index: 4;
  padding-top: 30px;
  height: 300px;
}

.hero {
  min-height: 650px;
  max-height: 700px;
  // height: 77%;
  width: 100%;
  min-width: 1030px;
  // z-index: 0;
  background: transparent;
  background-size: cover;

}

.projects {
  background: #f6f6f6;
  padding: 26px 0 60px;
  border-bottom: 1px solid #bec6d1;
  position: relative;
  z-index: 0;
  min-width: 1030px;
  border-top: 1px solid rgba(0, 0, 0, .25);
  overflow-x: hidden;
  margin-top: 750px;
}

div {
  display: block;
}

.parallax_base {
  transform: translateZ(0);
  z-index: -1;
}

input-large {
  font-size: 16px;
  line-height: 20px;
  height: auto;
  /* padding: 9px 11px; */
  box-sizing: border-box;
}

input, textarea {
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
}

input[type=text], input[type=password], input[type=submit] {
  padding: 4px 6px;
}

input[type=submit] {
  text-align: center;
  color: #fff;
  background-color: #e86c00;
  border-color: #cf6000;
}

.form-input {
  margin: auto;
}

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bottom-bar {
  background-color: #fff;
}

.bottom-bar h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  box-sizing: content-box;
  display: inline;
}
