// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  position: absolute;
  left: 300px;
  top: 27px;
}

.flex {
  display: flex;
}

.search-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 10% 10% 10%;
}

.search-title {
  position: absolute;
  left: 11vw;
  top: 142px;
  font-size: 20px;
}

.search-background {
  background-color: white;
  position: fixed;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.search-button {
  padding: 5px;
  border-radius: 3px;
  background-color: lightgrey;
}

.featured_projects {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  background-color: transparent;
}

.project_item {
  position: relative;
  color: rgb(22, 22, 29);
  width: 323px;
  height: 349px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25)
}

.project_item > .project_details {
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 17px 0px;
  margin-top: 280px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  width: 100%;
}

.project_item .project_detail {
  margin-left: 15px;
  z-index: 1;
}

.section_title {
  position: absolute;
  left: 110px;
}

.project-show {
  min-height: 700px;
  text-align: center;
}

.project-show ul {
  background-color: transparent;
  width: 100%;
}

.project-show ul li {
  margin: 50px;
}

.parallax-show {
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, .25);
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  min-height: 650px;
  max-height: 700px;
  min-width: 1030px;
  width: 100%;
  background: transparent;
  z-index: -1;
}

.step-parallax-show {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .25);
  min-height: 650px;
  max-height: 700px;
  align-self: center;
  background: transparent;
  z-index: -1;
}

.project-show-ul {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.project-show-div {
  display: flex;
  flex-direction: column;
}

.project-quill {
  width: 80%;
  align-self: center;
  text-align: left;
}

.step-quill {
  width: 80%;
  align-self: center;
  margin-left: 10%;
  text-align: left;
}

.ql-video {
  width: 100%;
  min-height: 700px;
}

button.ql-video {
  min-height: 24px;
}

.parallax-index-show {
  height: 80%;
  width: 100%;
  background: transparent;
}

strong {
  font-weight: bold !important;
}

.project-title {
  font-size: 32px;
  font-weight: bold;
}

.project_image {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  z-index: -1;
}

.index-image {
  height: 100%;
  background-size: cover;
}

.project-edit-link {
  align-self: center;
  width: 30%;
  background-color: yellow;
  color: white;
  font-weight: bold;
  background-color: orange;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.protected-project-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.project-delete-link {
  width: 30%;
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 15px;
  margin-bottom: 50px;
}
