// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth_error {
  color: #fff;
  background-color: red;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
  width: 100%;
  min-height: 28px;
  width: 330px;
}

.login-form {
  position: absolute;
}

#login-wrapper {
  align-self: center;
  width: 100%;
  height: 940px;
  min-width: 1030px;
  // background-image: image-url('glassblowing.jpg');
  // background: transparent;
  background-size: cover;
}

.login-form {
  padding-top: 160px;
  padding-left: 60px;
  margin-left: 60px;
  background: rgba(34, 34, 34, .25);
  height: 845px;
  width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 0;
}

.login-form input {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 160px;
  height: 28px;
  width: 330px;
}

.login {
  border-right: 1px solid lightgrey;
  padding: 0px 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 12px;
}

.login-signup {
  position: absolute;
  right: 25px;
  top: 28px;
}

.authButton:hover {
  background-color: #cf6000;
  transition-duration: .4s;
}

.signup {
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 12px;
}

.logout {
  position: absolute;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  position: absolute;
  right: 25px;
  top: 30px;
}

.demo {
  position: absolute;
  text-align: center;
  width: 330px;
  height: 28px;
  border: 1px solid #7c7cea;
  color: white;
  background-color: #58d0f7;
  border-radius: 5px;
  z-index: 1;
  margin-left: 120px;
  margin-top: 140px;
  padding: 4px 6px;
}

.demo:hover {
  transition-duration: .4s;
  background-color: #7c7cea;
}
